<?php

define('MIGRATIONS_DIR',  dirname(__FILE__) . '/migrations/');

define('DBNAME', '');
define('DBUSERNAME',  '');
define('DBPASSWORD',  '');
define('DBADDRESS',  '');
define('HTTP_TOKEN', '');

